{:kotoba.app/id "cloud.itonami.isic-2013", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiheigdotjawvo3jd7lluix3k4xuelmtyc222eaxligcsrn5f3tfzi", :kotoba.app/embed-url "ipfs://bafkreiheigdotjawvo3jd7lluix3k4xuelmtyc222eaxligcsrn5f3tfzi", :published {:archive "https://kotobase.net/ipfs/bafkreiheigdotjawvo3jd7lluix3k4xuelmtyc222eaxligcsrn5f3tfzi", :size 73101, :put-status 201, :get-status 200, :at "2026-08-15T13:34:39.813Z"}}
